<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Excellence in Digital Innovation | InnoCellence</title>

<link rel="stylesheet" type="text/css" href="/static/css/style.css">
<script src="/static/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/static/js/scripts.js"></script>

</head>
<body>
<section class="shoutout">
  <a href="#" class="shoutout-link">
    <div class="shoutout-copy">
      <h1 class="mw">Make an Enquiry</h1> 
      <p class="pn">Contact Us Now</p>
      <img src="/static/img/right-arrow.svg">
    </div>
  </a>
</section>
  
<footer>
  <div class="container">
 
      <div class="solutions">
        
        <h6>Solutions</h6>
        <ul>
          <li><a href="#" title="All">All</a></li>
        </ul>
        
      </div>
      
      <div class="solutions">
        
        <h6>Solutions</h6>
        <ul>
          <li><a href="#" title="All">All</a></li>
        </ul>
        
      </div>
      <div class="social">
        
        <h6>Social</h6>
        <ul>
          
          <li><a href="#" target="_blank" title="LinkedIn"><i class="fa fa-fw fa-linkedin"></i> LinkedIn</a></li>
        </ul>
        
      </div>
      <div class="legal">
        
        <h6>Legal</h6>
        <ul>
          <li><a href="#" title="Terms &amp; Conditions">Terms &amp; Conditions</a></li>
          <li style="display:none">Last Update:<span id="date"></span></li>
        </ul>
        </div>
    </div>
</footer>
  
</body>
<script type="text/javascript">
$(document).ready(function(){
    
    var myDate = new Date();
    //year = myDate.getFullYear();
    //month = myDate.getMonth()+1;
    //day = myDate.getDate();
    //alert(year+"-"+month+"-"+day);
    //alert(myDate);
    //$("#date").text(year+"-"+month+"-"+day);
});
</script>
</html>
