<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Excellence in Digital Innovation | InnoCellence</title>
<link href="blog.innocellence.com/rss/" rel="alternate" type="application/rss+xml" title="InnoCellence Feed" />
<link rel="stylesheet" type="text/css" href="/static/css/syntax.css">
<link rel="stylesheet" type="text/css" href="/static/css/style.css">

<script src="/static/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/static/js/scripts.js"></script>

<link rel="shortcut icon" href="/static/img/favicon.ico">


<link href="/static/css/buttons.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/static/bootstrap-3.3.7/docs/dist/css/bootstrap.min.css">
<link href="http://cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href="http://cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<script src="/static/bootstrap-3.3.7/docs/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/static/js/buttons.js"></script>
<script type="text/javascript" src="/static/js/jquery.pin.js"></script>

<style>
     .ondisplay{
       display:inline;
       text-align:center;
     }
     .offdisplay{
         display:none;
     }
     
     .bluelabel{
         color:blue;
     }
    td,th{
        text-align:left;
        white-space: nowrap;
    }
     
    select{
   background-color:white;
   height:40px;
   border-radius:5px;
   box-shadow: 0 0 5px #ccc;
   position: relative;
   box-shadow: 0 0 5px #ccc;
   width: 20%;
   height: 40px;
   margin-top:150px;
}


    .develop{
        background-color:#FF4500;
        font-weight:bold;
    }
    
    .test{
        background-color:#0000CD;
        font-weight:bold;
    }
    
    .product{
        background-color:#00FF00;
        font-weight:bold;
    }
    


     
</style>

</head>

{% include 'head.html' %}

<body>

{% block content %}
<div class="container1" align="center">
    
    <div style="width:50%; height:120px;" id="box" align="center" class="search" >
        <input type="text" id="keywords" border="1" style="background-color:#E6E6E6;" name="search_table" placeholder="请输入表名称/作业名称"><span id="search" style="float:center;" class="btn btn-lg button-action">&nbsp;&nbsp;&nbsp;表级搜索&nbsp;&nbsp;&nbsp;</span>
        <span id="search_field" style="float:center;" class="btn btn-lg button-action">&nbsp;&nbsp;&nbsp;字段级搜索&nbsp;&nbsp;&nbsp;</span>
    </div>

        <h1 id="searchkeywords" style="display:none">{{ keyword }}</h1>
        
     <label for="name" style="display:none">表状态选择: </label>

      <select id="table_state_flag" style="display:none" class="button">
        <option value='-1' selected>所有</option>
        <option value="开发中">开发中</option>
        <option value="测试中">测试中</option>
        <option value="已上线" >已上线</option>
        <option value="已下线">已下线</option>
        <option value="其他">其他</option>
      </select>
      
      <label for="name" style="display:none" class="btn btn-primary">主题域: </label>
      <label id='' for="name" style="display:none">主题域: </label>
      <select id="theme" style="display:none" class="button">
         <option value="-1" selected >主题域选择</option>
         {% for theme in themes %}
             {% if theme.id == table_theme_id %}
                <option value="{{ theme.id }}" selected>{{ theme.table_theme_cn_name }}</option>
             {% else %}
                <option value="{{ theme.id }}" >{{ theme.table_theme_cn_name }}</option>
             {% endif %}
         {% endfor %}
      </select>
      
       <label for="name" style="display:none" class="btn btn-primary">业务线: </label>
       
      <select id="" style="display:none" class="button">
         <option value="-1" selected>业务线选择</option>
         {% for businessline in businesslines %}
          
          <option value="{{ businessline.id }}" >{{ businessline.business_line_cn_name }}</option>
           
         {% endfor %}
      </select>
      
        <label for="name" style="display:none" class="btn btn-primary">层次结构: </label>
        
       
        <label for="name" style="display:none">层次结构: </label>
      <select id="tablelevel" style="display:none" class="button">
         <option value="-1" selected>层次结构选择</option>
         {% for tablelevel in tablelevels %}
           {% if tablelevel.id == table_level_id %}
               <option value="{{ tablelevel.id }}" selected>{{ tablelevel.table_level_cn_name }}</option>
           {% else %}
               <option value="{{ tablelevel.id }}" >{{ tablelevel.table_level_cn_name }}</option>
           {% endif %}
         {% endfor %}
      </select>
    
    <span id="search_chose" style="float:center;display:none;" class="btn btn-lg button-action">&nbsp;&nbsp;&nbsp;筛选&nbsp;&nbsp;&nbsp;</span>
    
    <h1>查询共计：{{fields_cnt}} 字段</h1>
   <table id="fieldstable" class="table table-bordered table-striped" style="width:95%" align="center">
  <thead>
    <tr>
      <th width="40px">序号</th>
      <th width="180px">数据库名称</th>
      <th width="20%">表名称</th>
      <th width="20%">表中文解释</th>
      <th width="">字段名称</th>
      <th width="">字段类型</th>
      <th width="">字段解释</th>
    </tr>
  </thead>
  <tbody>
  {% for field in contacts %}
    <tr>
      <td><a href="/admin/integ_model/table/{{ field.tb_name_id.id }}/change/" target="_blank">{{ forloop.counter }} <span class='offdisplay'>{{ field.tb_name_id.db_name_id.db_name }}.</span></a></td>
      <td>{{ field.tb_name_id.db_name_id.db_name }}&nbsp;&nbsp;<span class="button label label-success">{{ field.tb_name_id.db_name_id.db_type.db_type_name }}</span></td>
      
      <td><a href="/fields/tb_id={{ field.tb_name_id.id }}"><b>{{ field.tb_name_id.tb_name }}</b></a></td>

      <td style="display:none">
          <span>
              <a href="/fields/tb_id={{ field.tb_name_id.id }}">{{ field.tb_name_id.tb_cn_name }}</a>
              <span class="button label label-warning"><a style="color:black;" href="/admin/integ_model/table/{{ field.tb_name_id.id }}/change/" target="_blank" >编辑</a></span>
          </span>
      </td>

        <td><b><a href="/fields/tb_id={{ field.tb_name_id.id }}">{{ field.tb_name_id.tb_cn_name }}</a></b></td>

        <td><b><a href="/fields/tb_id={{ field.tb_name_id.id }}">{{ field.fields_name }}</a></b></td>

         <td>{{field.fields_type.fields_type}}</td>


         <td>{{field.fields_cn_name}}</td>

    </tr>
  {% endfor %}
  </tbody>
</table>

       <nav aria-label="Page navigation">
  <ul class="pagination">
       <li>
              <a href="?keyword={{keyword}}&page=1" aria-label="Previous">
                <span aria-hidden="true">首页</span>
              </a>
          </li>
      {% if contacts.has_previous %}
          <li>
              <a href="?keyword={{keyword}}&page={{ contacts.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
          </li>
      {% endif %}

    {%  for pg in pageRange %}
       {% if  contacts.number == pg %}
           <li class="active" ><a href="?keyword={{keyword}}&page={{pg}}" aria-label="pg"> {{ pg }}</a></li>
       {% else %}
           <li><a href="?keyword={{keyword}}&page={{ pg }}" aria-label="pg"> {{ pg }}</a></li>
       {% endif %}
    {% endfor %}

    {% if contacts.has_next %}
        <li>
          <a href="?keyword={{keyword}}&page={{ contacts.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% endif %}
       <li>
              <a href="?keyword={{keyword}}&page={{ contacts.paginator.num_pages }}" aria-label="Previous">
                <span aria-hidden="true">尾页</span>
              </a>
      </li>
  </ul>
</nav>



</div>
{% endblock %}
</body>
{% include 'foot.html' %}
</html>


<script type="text/javascript" src='/static/Highcharts-6.0.2/code/highcharts.js'></script>
<script type="text/javascript" src='/static/Highcharts-6.0.2/code/highcharts.src.js'></script>
<script type="text/javascript" src='/static/Highcharts-6.0.2/code/highcharts-3d.js'></script>
<script type="text/javascript" src='/static/Highcharts-6.0.2/code/highcharts-more.js'></script>
<script type="text/javascript" src='/static/Highcharts-6.0.2/code/highcharts-3d.src.js'></script>
<script type="text/javascript" src='/static/Highcharts-6.0.2/code/modules/exporting.js'></script>
<script type="text/javascript" src='/static/Highcharts-6.0.2/code/highcharts-more.src.js'></script>
<script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/static/js/wordcloud.js"></script>
<script type="text/javascript" src="/static/js/simple-calendar.js"></script>
<script type="text/javascript" src="/static/js/jquery.pin.js"></script>

<script type="text/javascript">
$(document).ready(function(){
    //alert("table");
    
//查询数据库列表
var db_name = $("#db_name").text();

$("table").delegate("td","dblclick",function(){
    //$(this).slideToggle();
    var value = $(this).text().replace('\r\n','');
    //alert(value);
    var textarea = document.createElement("textarea");
    var currentFocus = document.activeElement;
    textarea.value = value.replace("编辑","");
    document.body.appendChild(textarea);
    textarea.select();
    var flag = document.execCommand("copy");
    //textarea.focus();
    alert("复制 "+textarea.value+"  成功");
    document.body.removeChild(textarea);
});

$("#fieldstable").on("click","tr td a", function() {
         //alert("OK");
         //获取数据库名称
         //dbname = $("#fieldstable tr").eq(i+1).children('td').eq(1).children('input').val();
         //$(this).parent().parent().remove();
         //db_table = $(this).parent().parent().children('td').eq(1).text();

         //alert(db_table);
         //window.location.href="/fields/db_table="+db_table;

    });

//主题选择
$("#theme").change(function(){
     theme_id = $('#theme option:selected').val();//选中的值
     //alert(theme_id);
     if(theme_id != -1){
        //alert("start");
     }
});

//层次结构
$("#tablelevel").change(function(){
     tablelevel_id = $('#tablelevel option:selected').val();//选中的值
     //alert(tablelevel_id);
     if(tablelevel_id != -1){
        //alert("start");
        
        
     }
});



var keyword = $("#searchkeywords").text();
//alert(keyword);

if (keyword !== null || keyword !== undefined || keyword !== '') { 
  
   $("#keywords").val(keyword);
   
}


//点击搜索按钮
$("#search").on("click", function() {
        
        //获取数据库类型id
        keywords = $("#keywords").val();
        //alert(keywords);
        //获取是否有效标志id
        //eff_flag_id = $("#db_eff_flag").find("option:selected").val();
        //alert(db_type_id+":"+eff_flag_id);
        //window.open('/model/?db_type='+db_type_id+'&eff_flag='+eff_flag_id,'_self');
        window.open("/searchtableresult/?keyword="+keywords,'_self');
        //window.open("https://www.baidu.com/s?word="+keywords);
});


//点击搜索表按钮
$("#search_table").on("click", function() {
        
        //获取数据库类型id
        keywords = $("#keywords").val();
        //alert(keywords);
        //获取是否有效标志id
        //eff_flag_id = $("#db_eff_flag").find("option:selected").val();
        //alert(db_type_id+":"+eff_flag_id);
        //window.open('/model/?db_type='+db_type_id+'&eff_flag='+eff_flag_id,'_self');
        window.open("/searchtableresult/?keyword="+keywords,'_self');
        //window.open("https://www.baidu.com/s?word="+keywords);
});


//点击搜索字段按钮
$("#search_field").on("click", function() {
        //获取数据库类型id
        keywords = $("#keywords").val();
        //alert(keywords);
        //获取是否有效标志id
        //eff_flag_id = $("#db_eff_flag").find("option:selected").val();
        //alert(db_type_id+":"+eff_flag_id);
        //window.open('/model/?db_type='+db_type_id+'&eff_flag='+eff_flag_id,'_self');
        window.open("/searchfieldresult/?keyword="+keywords,'_self');
        //window.open("https://www.baidu.com/s?word="+keywords);
});

//点击搜索按钮
$("#search_chose").on("click", function() {
        
        //获取数据库类型id
        keywords = $("#keywords").val();
        //alert(keywords);
        //获取是否有效标志id
        //eff_flag_id = $("#db_eff_flag").find("option:selected").val();
        //alert(db_type_id+":"+eff_flag_id);
        //window.open('/model/?db_type='+db_type_id+'&eff_flag='+eff_flag_id,'_self');
        //window.open("/searchtableresult/?keyword="+keywords,'_self');
        //window.open("https://www.baidu.com/s?word="+keywords);
        
        //获取表状态
        state_flag = $('#table_state_flag option:selected').val();//选中的值
        
        //获取主题域
        table_theme_id = $('#theme option:selected').val();//选中的值
        
        //获取层次结构
        table_level_id = $('#tablelevel option:selected').val();//选中的值
        
        
        //alert(state_flag+"ok"+table_theme_id+"-"+table_level_id);
        
        ///searchtableresult/?keyword=1&state_flag=1&table_theme_id=1&table_level_id=1
        url = "/searchtableresult/?keyword="+keywords+'&state_flag='+state_flag+"&table_theme_id="+table_theme_id+"&table_level_id="+table_level_id;
        
        //alert(url);
        window.open(url,'_self');
        //window.open("/searchtableresult/?keyword="+keywords,'_self');
});



});
</script>

</html>
