<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>模型字典</title>
<link href="blog.innocellence.com/rss/" rel="alternate" type="application/rss+xml" title="InnoCellence Feed" />
<link rel="stylesheet" type="text/css" href="/static/css/syntax.css">
<link rel="stylesheet" type="text/css" href="/static/css/style.css">

<script src="/static/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="/static/js/scripts.js"></script>

<link href="/static/css/buttons.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/static/bootstrap-3.3.7/docs/dist/css/bootstrap.min.css">


<script src="/static/bootstrap-3.3.7/docs/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/static/js/buttons.js"></script>
<script type="text/javascript" src="/static/js/jquery.pin.js"></script>

<script src="https://gw.alipayobjects.com/os/antv/pkg/_antv.g6-3.0.0/build/g6.js"></script>
<script src="https://a.alipayobjects.com/jquery/jquery/1.11.1/jquery.js"></script>
<script src="https://gw.alipayobjects.com/os/antv/assets/g6/1.2.8/g6.min.js"></script>

<style type="text/css">

 .main{
    color:black;
    //background-image:url("/static/img/backgrounk.jpg");
    //transform:translateY(-50%);/**上移元素**/
    //position:absolute;
    //zIndex:9999;
  }

  body{

    //background-image:url("/static/img/backgrounk.jpg");
  }

  .search{
    width:50%; height:120px;

  }

  .offdisplay{
    background-color:#AAAAAA;
    font-weight:bold;
    text-decoration:line-through;
  }

  .ondisplay{
    //background-color:#000000;
    //font-weight:bold;

  }

  select,label,option{
    font-size:20px;
  }

</style>

</head>

{% include 'head.html' %}

<body>
{% block content %}
<div class="container1" align="center">
   <div class="main">
    <h1 style="display:none">{{ user_id }}</h1><h1 style="display:none">{{ user_name }}| {{ author_name }}</h1>

    <div style="display" id="box" align="center" class="search" >
        <input type="text" id="keywords" border="1" style="background-color:#E6E6E6;" name="search" placeholder="请输入表名称/作业名称"><span id="search" style="float:center;" class="btn btn-lg button-action">&nbsp;&nbsp;&nbsp;搜索&nbsp;&nbsp;&nbsp;</span>
    </div>
    <div style="display:none">
    {% for item in tableDependency%}
       <p>{{ item }}</p>
    {% endfor %}
    </div>

   <h1 id="Relation">血缘关系图</h1>
   <div id="c1"></div>
</div>
{% endblock %}

</body>
{% include 'foot.html' %}
</html>

<script type="text/javascript" src='/static/Highcharts-6.0.2/code/highcharts.js'></script>
<script type="text/javascript" src='/static/Highcharts-6.0.2/code/highcharts.src.js'></script>
<script type="text/javascript" src='/static/Highcharts-6.0.2/code/highcharts-3d.js'></script>
<script type="text/javascript" src='/static/Highcharts-6.0.2/code/highcharts-more.js'></script>
<script type="text/javascript" src='/static/Highcharts-6.0.2/code/highcharts-3d.src.js'></script>
<script type="text/javascript" src='/static/Highcharts-6.0.2/code/modules/exporting.js'></script>
<script type="text/javascript" src='/static/Highcharts-6.0.2/code/highcharts-more.src.js'></script>
<script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/static/js/wordcloud.js"></script>
<script type="text/javascript" src="/static/js/simple-calendar.js"></script>
<script type="text/javascript" src="/static/js/jquery.pin.js"></script>

<script type="text/javascript">

function start_show()
{
// 第一步：获取数据
var data = {
  "nodes": [
    {
      "shape": "rect",
      "label": "首页",
      "keep": 1,
      "runoff": 99,
      "id": "add1174b"
    },
    {
      "shape": "rect",
      "label": "页面1",
      "keep": 70,
      "runoff": 30,
      "id": "fbc69eaa"
    },
    {
      "shape": "rect",
      "label": "页面2",
      "keep": 10,
      "runoff": 90,
      "id": "6d0df4b8"
    },
    {
      "shape": "rect",
      "label": "页面3",
      "keep": 40,
      "runoff": 60,
      "id": "fcaedf74"
    },
    {
      "shape": "rect",
      "label": "页面4",
      "keep": 1,
      "runoff": 99,
      "id": "0ce831a6"
    },
    {
      "shape": "rect",
      "label": "页面5",
      "keep": 15,
      "runoff": 85,
      "id": "46c87dc5"
    },
    {
      "shape": "rect",
      "label": "页面6",
      "keep": 1,
      "runoff": 99,
      "id": "a7ae06e1"
    },
    {
      "shape": "rect",
      "label": "页面7",
      "keep": 1,
      "runoff": 99,
      "id": "97d725aa"
    },
    {
      "shape": "rect",
      "label": "页面8",
      "keep": 1,
      "runoff": 99,
      "id": "1009d1ce"
    }
  ],
  "edges": [
    {
      "source": "add1174b",
      "target": "fbc69eaa",
      "val": 80,
      "id": "ae85ce02"
    },
    {
      "source": "add1174b",
      "target": "6d0df4b8",
      "val": 40,
      "id": "4f2a272a"
    },
    {
      "source": "add1174b",
      "target": "fcaedf74",
      "val": 47,
      "id": "e1d27d5d"
    },
    {
      "source": "fbc69eaa",
      "target": "0ce831a6",
      "val": 70,
      "id": "ebb1bb90"
    },
    {
      "source": "fbc69eaa",
      "target": "46c87dc5",
      "val": 60,
      "id": "de5483e7"
    },
    {
      "source": "fcaedf74",
      "target": "a7ae06e1",
      "val": 50,
      "id": "38631f93"
    },
    {
      "source": "6d0df4b8",
      "target": "97d725aa",
      "val": 40,
      "id": "ca7e320d"
    },
    {
      "source": "46c87dc5",
      "target": "1009d1ce",
      "val": 30,
      "id": "7dc8fe14"
    },
    {
      "source": "fbc69eaa",
      "target": "a7ae06e1",
      "val": 20,
      "id": "a0318c7b"
    }
  ]
};

// 第二步：注册图形
G6.registNode('rect', {
  // 设置锚点
  getAnchorPoints: function(){
    return [
      [1, 0.5], // 右边边的中点
      [0, 0.5] // 左边边的中点
    ];
  }
});

// 第三步：进行布局
var Layout = G6.Layout;
var margin = 60;
var height = 800 - 2 * margin;
var width = 500 - 2 * margin;
var nodes = data.nodes;
var edges = data.edges;
var layout = new Layout.Flow({
  nodes: nodes,
  edges: edges
});
nodes = layout.getNodes();
nodes.map(function(node) {
  var x = node.x * width + margin;
  var y = node.y * height + margin;
  node.x = y;
  node.y = x;
});

// 第四步：初始化图
var net = new G6.Net({
  id: "c1",            // 此处替换容器id
  height: 450,         // 此处替换高度
  fitView: 'autoZoom', // 自动缩放
});

// 第五步：载入数据
net.source(nodes, edges);

// 第六步：数据映射
net.node()
  .style(function(obj){
    var domain = 100;
    var keep = obj.keep;
    var runoff = obj.runoff;
    var keepRatio = keep/domain;
    var runoffRatio = runoff/domain;
    var attrs = {};
    if(keep && runoff){
      attrs.fill = 'l (0) 0:#00A263 ' + keepRatio + ':#00A263 ' + keepRatio + ':#E6504A';
    }
    attrs.fillOpacity = 0.4;
    return attrs;
  });
net.edge()
  .size(function(obj){
    return obj.val/100 * 6;
  })
  .shape('smooth')
  .style({
    stroke: "#00A263",
    strokeOpacity: 0.6,
    arrow: true
  });

// 第七步：添加图例
net.add('node', {
  "shape": "circle",
  "label": "留存",
  "x": 370,
  "y": 500,
  "size": 40,
  "color": "#00A263",
  "id": "2ff55156"
});

net.add('node', {
  "shape": "circle",
  "label": "流失",
  "x": 440,
  "y": 500,
  "size": 40,
  "color": "#E54E48",
  "id": "0c134755"
});


// 第八步：渲染关系图
net.render();
}


//传入顶点和边
var nodes = [
    {
      "shape": "rect",
      "label": "A",
      "keep": 20,
      "runoff": 80,
      "id": "A"
    },
    {
      "shape": "rect",
      "label": "B",
      "keep": 20,
      "runoff": 80,
      "id": "B"
    },
    {
      "shape": "rect",
      "label": "C",
      "keep": 20,
      "runoff": 80,
      "id": "C"
    },

];

var edges = [
    {
      "source": "A",
      "target": "B",
      "val": 30,
      "id": "A_B"
    },
    {
      "source": "A",
      "target": "C",
      "val": 30,
      "id": "A_C"
    },
    {
      "source": "C",
      "target": "A",
      "val": 30,
      "id": "C_A"
    },


];


function start_show_test(nodes,edges)
{
// 第一步：获取数据
var data = {
  "nodes": [
    {
      "shape": "rect",
      "label": "首页",
      "keep": 0,
      "runoff": 100,
      "id": "add1174b"
    },
    {
      "shape": "rect",
      "label": "页面1",
      "keep": 70,
      "runoff": 30,
      "id": "fbc69eaa"
    },
    {
      "shape": "rect",
      "label": "页面2",
      "keep": 10,
      "runoff": 90,
      "id": "6d0df4b8"
    },
    {
      "shape": "rect",
      "label": "页面3",
      "keep": 40,
      "runoff": 60,
      "id": "fcaedf74"
    },
    {
      "shape": "rect",
      "label": "页面4",
      "keep": 1,
      "runoff": 99,
      "id": "0ce831a6"
    },
    {
      "shape": "rect",
      "label": "页面5",
      "keep": 15,
      "runoff": 85,
      "id": "46c87dc5"
    },
    {
      "shape": "rect",
      "label": "页面6",
      "keep": 1,
      "runoff": 99,
      "id": "a7ae06e1"
    },
    {
      "shape": "rect",
      "label": "页面7",
      "keep": 1,
      "runoff": 99,
      "id": "97d725aa"
    },
    {
      "shape": "rect",
      "label": "页面8",
      "keep": 1,
      "runoff": 99,
      "id": "1009d1ce"
    }
  ],
  "edges": [
    {
      "source": "add1174b",
      "target": "fbc69eaa",
      "val": 30,
      "id": "ae85ce02"
    },
    {
      "source": "add1174b",
      "target": "6d0df4b8",
      "val": 30,
      "id": "4f2a272a"
    },
    {
      "source": "add1174b",
      "target": "fcaedf74",
      "val": 30,
      "id": "e1d27d5d"
    },
    {
      "source": "fbc69eaa",
      "target": "0ce831a6",
      "val": 30,
      "id": "ebb1bb90"
    },
    {
      "source": "fbc69eaa",
      "target": "46c87dc5",
      "val": 30,
      "id": "de5483e7"
    },
    {
      "source": "fcaedf74",
      "target": "a7ae06e1",
      "val": 30,
      "id": "38631f93"
    },
    {
      "source": "6d0df4b8",
      "target": "97d725aa",
      "val": 30,
      "id": "ca7e320d"
    },
    {
      "source": "46c87dc5",
      "target": "1009d1ce",
      "val": 30,
      "id": "7dc8fe14"
    },
    {
      "source": "fbc69eaa",
      "target": "a7ae06e1",
      "val": 30,
      "id": "a0318c7b"
    },
  ]
};

data.nodes = nodes;
data.edges= edges;


// 第二步：注册图形
G6.registNode('rect', {
  // 设置锚点
  getAnchorPoints: function(){
    return [
      [1, 0.5], // 右边边的中点
      [0, 0.5] // 左边边的中点
    ];
  }
});


// 第三步：进行布局
var Layout = G6.Layout;
var margin = 60;
var height = 800 - 2 * margin;
var width = 500 - 2 * margin;
var nodes = data.nodes;
var edges = data.edges;
var layout = new Layout.Flow({
  nodes: nodes,
  edges: edges
});
nodes = layout.getNodes();
nodes.map(function(node) {
  var x = node.x * width + margin;
  var y = node.y * height + margin;
  node.x = y;
  node.y = x;
});

// 第四步：初始化图
var net = new G6.Net({
  id: "c1",            // 此处替换容器id
  height: 450,         // 此处替换高度
  fitView: 'autoZoom', // 自动缩放
});

// 第五步：载入数据
net.source(nodes, edges);

// 第六步：数据映射
net.node()
  .style(function(obj){
    var domain = 100;
    var keep = obj.keep;
    var runoff = obj.runoff;
    var keepRatio = keep/domain;
    var runoffRatio = runoff/domain;
    var attrs = {};
    if(keep && runoff){
      attrs.fill = 'l (0) 0:#00A263 ' + keepRatio + ':#00A263 ' + keepRatio + ':#E6504A';
    }
    attrs.fillOpacity = 0.4;
    return attrs;
  });
net.edge()
  .size(function(obj){
    return obj.val/100 * 6;
  })
  .shape('smooth')
  .style({
    stroke: "#00A263",
    strokeOpacity: 0.6,
    arrow: true
  });

// 第七步：添加图例
/*
net.add('node', {
  "shape": "circle",
  "label": "留存",
  "x": 370,
  "y": 500,
  "size": 40,
  "color": "#00A263",
  "id": "2ff55156"
});

net.add('node', {
  "shape": "circle",
  "label": "流失",
  "x": 440,
  "y": 500,
  "size": 40,
  "color": "#E54E48",
  "id": "0c134755"
});
*/

// 第八步：渲染关系图
net.render();
}

//start_show();
start_show_test(nodes,edges);


$(document).ready(function(){


function start_show_relation()
{
 keywords = $("#keywords").val();
    //后台获取所有关系表
    $.get("/execRelation/",{'keywords':keywords}, function(ret){
        //alert(ret.data);
        //alert(ret.nodes);
        //alert(ret.edges);
        $("#c1").remove();
        $("#Relation").append("<div id='c1'></div>");
        start_show_test(ret.nodes,ret.edges);

    });

}

start_show_relation();

$("#search").click(function(){
   start_show_relation();
});

});

</script>

</html>
